<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    
                    <li><a class="nav-link" href="/Contact/Create">Form</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-banner">
       
    </div>
    <div class="container body-content">
        @RenderBody()
        
    </div>
    <footer>
        <div class="container">


            <div class="row">
                <div class="col-md-6">
                    <h2>Sayali Sarode</h2>
                    <p>Full Stack Developer</p>
                </div>
               
                <div class="col-md-6">
                    <p><strong>Phone </strong>07423322567</p>
                    <p><strong>Email </strong><a href="mailto:sayali.sarode1991@gmail.com">sayali.sarode1991@gmail.com</a></p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/script.js")
    @RenderSection("scripts", required: false)
</body>
</html>
